@page "/"

<PageTitle>Anki Deck Builder</PageTitle>

<div class="centered-form">
    <div style="margin-bottom: 20px; width: 80%;">
        <LanguageSelector SelectedLanguage=@_selectedLanguage Languages=@_languages SelectedLanguageChanged="OnSelectedValueChanged" />
    </div>
    <WordSelection Words="@_words" WordsChanged="OnWordsChanged" />
</div>
<CreateDeck Words=@_words TargetLanguage=@_selectedLanguage />


@code {
    private string _selectedLanguage;
    private List<string> _languages = new List<string> { "Chinese", "Italian", "Japanese" };

    protected override void OnParametersSet()
    {
        if (_languages != null && _languages.Count > 0)
        {
            _selectedLanguage = _languages[0];
        }
    }

    private void OnSelectedValueChanged(string value)
    {
        _selectedLanguage = value;
    }

    private List<string> _words { get; set; } = new List<string>();

    private void OnWordsChanged(List<string> words)
    {
        _words = words;
    }
}