@page "/dropdown"
@using System.Collections.Generic

<select @onchange="OnValueChanged" style="width: 100%;height: 50px;font-size:24px">
    @foreach (var language in Languages)
    {
        <option value="@language">@language</option>
    }
</select>

@code {
    [Parameter]
    public string SelectedLanguage { get; set; }

    [Parameter]
    public List<string> Languages { get; set; }

    [Parameter]
    public EventCallback<string> SelectedLanguageChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        SelectedLanguage = e.Value.ToString();
        await SelectedLanguageChanged.InvokeAsync(SelectedLanguage);
    }
}
